body{
    font-family: cursive;
    font-size: 20px;
    background: aquamarine;
    color: black;
}
a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }
a{
    color: white
}
.parent{
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
}

.child{
    width: 300px;
    height: 300px;
    border: 2px solid black;
    transition: 1s ease-in;
}

.child:hover{
    background-color: blue;
    color: white;
}

span{
    text-align: center;
}